
#tableImage {
    width: 200px;
    height: auto;
    text-align: center;
    display: block;
    margin: auto;
}

.navText {
    color: black;
    font-size: x-large;
    padding: 0%;
    
}

.navText:hover {
    color: blue;
}

.active{
    color: rgba(153, 3, 3, 0.982);
    font-size: x-large;
}

.NavTables {
    margin: auto;
    padding: 5%;
}

.MidImage {
    float: left;
    width: 200px;
    height: auto;
    display: block;
    margin-right: 20px;
}

.IntersectionText {
    color: black;
    text-align: center;
}
.MidImage2 {
    float: right;
    width: 550px;
    height: auto;
    display: block;
    margin-right: 20px;
}

.MidSectionColour {
    background-color: rgba(153, 3, 3, 0.982);
    padding: 1%;
    color: white;
}

.WhiteTextColor {
    color: white;
}

.BlackTextColor {
    color: black;
    font-size: x-large
    
}

.AlignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}


figure { 
    display: inline-block;
    margin-right: 30px;
}

figure figcaption {
    text-align: center;
}

h4 {
    color: white;
}



.copyRight {
    text-align: center;
    color: white;
}

fieldset {
    border: 2px solid white;
}

legend {
    font-size: larger; 
}

input[type="email"] {
    border: 2px solid red;
    background-color: #ffe6e6;
}

input[type="tel"] {
    border: 2px solid red;
    background-color: #ffe6e6;
}

input[type="text"] {
    border: 2px solid red;
    background-color: #ffe6e6;
}

